header{
    min-height: 20px;
    position: fixed;
    width: 100%;
    background-color: rgb(138, 85, 6); 
    text-align: center; 
    color: white; 
    padding: 3%;
}


.listsonthisboard {
    display: flex;
    align-items: baseline;
    overflow-x: auto;
}

.listsonthisboard::-webkit-scrollbar {
    display: none;
}

.listsonthisboard>* {
    min-width: auto;
    margin-top: 10%;
    margin-right: 1%;
    padding: 5%;
    padding-top: 1%;
    padding-left: 1%;
    background-color: #f4f4f4;
}